<html lang="en">
<head>
<style>
    .floatedTable {
        float: left;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
</head>
<body>
    <table>
        <tr>
            <th>Metric</th>
            <th>Brand</th>
            <th>Groupspace</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        <tr>
            <td><%= metric %></td>
            <td><%= brand %></td>
            <td><%= groupspace %></td>
            <td><%= startDate %></td>
            <td><%= endDate %></td>
        </tr>
    </table>
    <table class="floatedTable">
        <tr>
            <th>Module</th>
            <th>Call index</th>
            <th>Query total</th>
            <th>Tractor total</th>
            <th>Untracked</th>
            <th>Total</th>
        </tr>
        <% renderTheseResults.forEach(function(result) { %>
            <tr>
                <td><%= result.module %></td>
                <td><%= result.index %></td>
                <td><%= result.qTotal %>ms</td>
                <td><%= result.tTotal %>ms</td>
                <td><%= result.untracked %>ms</td>
                <td><%= result.total %>ms</td>
            </tr>
        <% }); %>
    </table>
    <table class="floatedTable">
        <tr>
            <th>Query Min</th>
            <th>Query Max</th>
            <th>Query Average</th>
        </tr>
        <tr>
            <td><%= queryMin %>ms</td>
            <td><%= queryMax %>ms</td>
            <td><%= queryAverage %>ms</td>
        </tr>
        <tr>
            <th>Tractor Min</th>
            <th>Tractor Max</th>
            <th>Tractor Average</th>
        </tr>
        <tr>
            <td><%= tractorMin %>ms</td>
            <td><%= tractorMax %>ms</td>
            <td><%= tractorAverage %>ms</td>
        </tr>
        <tr>
            <th>Total Min</th>
            <th>Total Max</th>
            <th>Total Average</th>
        </tr>
        <tr>
            <td><%= totalMin %>ms</td>
            <td><%= totalMax %>ms</td>
            <td><%= totalAverage %>ms</td>
        </tr>
        <tr>
            <th>Untracked Average</th>
            <th>% of Untracked</th>
        </tr>
        <tr>
            <td><%= untrackedAverage %>ms</td>
            <td><%= ((untrackedAverage / totalAverage) * 100) %></td>
        </tr>
    </table>
</body>
</html>