<html lang="en">
<head>
<style>
    .floatedTable {
        float: left;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
</head>
<body>
    <table>
        <tr>
            <th>Metric</th>
            <th>Brand</th>
            <th>Groupspace</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        <tr>
            <td><%= metric %></td>
            <td><%= brand %></td>
            <td><%= groupspace %></td>
            <td><%= startDate %></td>
            <td><%= endDate %></td>
        </tr>
    </table>
    <table class="floatedTable">
        <tr>
            <th>Module</th>
            <th>Call index</th>
            <th>Compute total</th>
            <th>Cache total</th>
            <th>Gateway + Deserialise</th>
            <th>Untracked</th>
            <th>Total</th>
        </tr>
        <% renderTheseResults.forEach(function(result) { %>
            <tr>
                <td><%= result.module %></td>
                <td><%= result.index %></td>
                <td><%= result.compTotal %>ms</td>
                <td><%= result.cachTotal %>ms</td>
                <td><%= result.infraTotal %>ms</td>
                <td><%= result.untracked %>ms</td>
                <td><%= result.total %>ms</td>
            </tr>
        <% }); %>
    </table>
    <table class="floatedTable">
        <tr>
            <th>Compute Min</th>
            <th>Compute Max</th>
            <th>Compute Average</th>
        </tr>
        <tr>
            <td><%= compMin %>ms</td>
            <td><%= compMax %>ms</td>
            <td><%= compAverage %>ms</td>
        </tr>
        <tr>
            <th>Cache Min</th>
            <th>Cache Max</th>
            <th>Cache Average</th>
        </tr>
        <tr>
            <td><%= cachMin %>ms</td>
            <td><%= cachMax %>ms</td>
            <td><%= cachAverage %>ms</td>
        </tr>
        <tr>
            <th>Infrastructure Min</th>
            <th>Infrastructure Max</th>
            <th>Infrastructure Average</th>
        </tr>
        <tr>
            <td><%= infraMin %>ms</td>
            <td><%= infraMax %>ms</td>
            <td><%= infraAverage %>ms</td>
        </tr>
        <tr>
            <th>Total Min</th>
            <th>Total Max</th>
            <th>Total Average</th>
        </tr>
        <tr>
            <td><%= totalMin %>ms</td>
            <td><%= totalMax %>ms</td>
            <td><%= totalAverage %>ms</td>
        </tr>
        <tr>
            <th></th>
            <th>% of Untracked</th>
            <th>Untracked Average</th>
        </tr>
        <tr>
            <td></td>
            <td><%= ((untrackedAverage / totalAverage) * 100) %></td>
            <td><%= untrackedAverage %>ms</td>
        </tr>
    </table>
</body>
</html>